*.o
*.o.d
*.log
*.hdt.index
build
node_modules
test/test-temp.ostrich
yarn-error.log
.idea
**/lib/**/*.js
**/lib/**/*.js.map
**/lib/**/*.d.ts
**/test/**/*.js
**/test/**/*.js.map
**/test/**/*.d.ts
**/bin/**/*.js
**/bin/**/*.js.map
**/bin/**/*.d.ts
**/index.js
**/index.js.map
**/index.d.ts
coverage
documentation
.eslintcache
