dist: trusty
language: node_js
node_js:
 - "6"
 - "8"
 - "10"
script:
  - npm run lint
  - npm test
env:
  global:
    - CC=clang-3.7
    - CXX=clang++-3.7
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.7
    packages:
      - clang-3.7
      - cmake-data
      - cmake
before_install:
  # Install CMake
  - curl -sSL https://cmake.org/files/v3.5/cmake-3.5.2-Linux-x86_64.tar.gz | tar -xzC /opt
  - export PATH="/opt/cmake-3.5.2-Linux-x86_64/bin/:$PATH"
  # Install Kyoto Cabinet
  - sudo ./install-kc-ci.sh
cache:
  apt: true
  directories:
    - node_modules
script:
  - npm test
  - npm run lint
sudo: required
